$color1:#404258;
$color2:#474E68;
$color3:#50577A;
$color4:#6B728E;
$bg-color:#d2d2d2;


html{
    background-color: #d2d2d2;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
h1 {
    font-weight: 700;
    font-size: 600;
    text-align: center;
}
nav {
    background-color: #50577A;
}
.card{
    padding:5%;
    background-color: #474E68;
    border: #404258 1%;
    border-radius: 1%;
}
footer{
    background-color: #404258;
}
