$color1:#404258;
$color2:#474E68;
$color3:#50577A;
$color4:#6B728E;
$bg-color:#d2d2d2;


html{
    background-color: #d2d2d2;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
h1 {
    font-weight: 700;
    font-size: 600;
}
h5{
    color:#d2d2d2;
    font-weight: 500;
}
p{
    color:#d2d2d2;
    font-weight: 500;
}
nav {
    background-color: #404258;
    z-index: 100;
}
.card{
    padding:5%;
    background-color: #474E68;
    border: #404258 1%;
    border-radius: 1%;
}
footer{
    background-color: #404258;
}
a{
    color:#6B728E
}
a:hover{
    color:#0044ff;
}

